{% extends "::base.html.twig" %}
{% block body %}
<header>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <a class="navbar-brand" href="#">欢迎您，
        {% if app.user.username is defined %}
             {{app.user.username}}
          {% else %}
              游客
           {% endif %}
      </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理 <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{path('myweb_admin_addUser')}}">添加用户</a></li>
          <li><a href="{{path('myweb_admin_addGroup')}}">添加用户组</a></li>
          <li><a href="{{path('myweb_admin_addPermission')}}">添加权限</a></li>
          <li><a href="{{path('myweb_admin_showGroup')}}">权限管理</a></li>
          <li><a href="{{path('myweb_admin_showUser')}}">用户管理</a></li>
        <li><a href="{{path('myweb_admin_manageGroup')}}">用户组管理</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          {% if app.user.username is defined %}
             {{app.user.username}}
          {% else %}
              游客
           {% endif %}
            <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{path('fos_user_security_logout')}}">退出</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</header>
    <div id="center">
        {% block main %}{% endblock %}
    </div>
{% endblock %}