{% extends "MywebAdminBundle:Layout:dashbord.html.twig"%}
{% set pageTitle= '编辑用户'%}
{% block main %}
<div class="main_form">
    <form role="form" action="{{path('myweb_admin_doEditUser')}}" method="post">
        <input name="userId" type="hidden" value="{{userId}}"/>
        <div class="form-group">
            <label >username</label>
            <input name="username"type="text" value="{{name}}" placeholder="username"/>
        </div>
       <div class="form-group">
            <label>status</label>
            <input type="radio" name="enabled" {% if enabled=='1'%} checked="true"{% endif %} value="1" /> enabled
            <input type="radio" name="enabled" value="0" /> unabled
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="text" name="email" value="{{email}}" placeholder="email"/>
        </div>
       {% for group in groups %}
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="true" name="groups[]" value="{{group}}"/> {{group}}
                </label>
            </div>   
          {% endfor %}
        {% for groupRest in groupsRest %}
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox"  name="groups[]" value="{{groupRest}}"/> {{groupRest}}
                </label>
            </div>   
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
{% endblock %}
